.cm-header {
  font-family: arial;
}
.cm-header-1 {
  font-size: 150%;
}
.cm-header-2 {
  font-size: 130%;
}
.cm-header-3 {
  font-size: 120%;
}
.cm-header-4 {
  font-size: 110%;
}
.cm-header-5 {
  font-size: 100%;
}
.cm-header-6 {
  font-size: 90%;
}
.cm-strong {
  font-size: 140%;
}
